body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* ###### HOME PAGE **********/

#root {
  text-align: center;
  display: flex;
  justify-content: center;
  width: 100vw;
  min-height: 100vh;
  overflow: hidden;
  /* background: linear-gradient(#fff, #999); */
  background: linear-gradient(#e66465, #9198e5);
}

#root>div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app>div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row {
  flex-direction: row !important;
}

.row>* {
  margin: 5px;
}

h1 {
  font-family: 'Damion', cursive;
  color: #fff;
  text-shadow: 0px 0px 60px 0px rgba(0,0,0,0.30);
  /* font-size: xx-large; */
  font-size: 300%;
} */

h2 {
  color: #fff;
}

.swipe {
  position: absolute;
}

.cardContainer {
  width: 90vw;
  max-width: 260px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

.card {
  /* position: relative; */
  background-color: rgb(190, 144, 144);
  width: 80vw;
  max-width: 260px;
  height: 270px;
  box-shadow: 0px 0px 40px 0px rgba(211, 195, 169, 0.3);
  border-radius: 15px;
  background-size: cover;
  background-position: center;
  position: center;
  display: flex;
  padding: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cardContent {
  width: 100%;
  height: 100%;
}

.swipe:last-of-type {

}

.card h3 {
  position: absolute;
  bottom: 0;
  margin: 10px;
  color: #fff;
  text-shadow: 2px 2px 6px #202020;
}

.infoText {
  width: 100%;
  height: 28px;
  justify-content: center;
  display: flex;
  color: #fff;
  animation-name: popup;
  animation-duration: 800ms;
}

.buttons {
  margin: 70px;
  /* display: flex; */
  margin-left: auto;
  margin-right: auto;
}

.buttons button {
  flex-shrink: 0;
  padding: 10px;
  border-radius: 20px;
  border: none;
  color: #fff;
  font-size: 18px;
  background-color: #9198e5;
  transition: 200ms;
  margin: 0 10px;
  font-weight: bolder;
  width: 160px;
  box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.10);
}

.buttons button:hover {
  transform: scale(1.05);
}

@keyframes popup {
  0%   { transform: scale(1,1) }
  10%  { transform: scale(1.1,1.1) }
  30%  { transform: scale(.9,.9) }
  50%  { transform: scale(1,1) }
  57%  { transform: scale(1,1) }
  64%  { transform: scale(1,1) }
  100% { transform: scale(1,1) }
}

/* ###### HEADER **********/

.header{
  padding-top: 50px;
}

.testheader {
  font-family: 'ProximaNova';
  color: white;
  text-shadow: 0px 0px 60px 0px rgba(0,0,0,0.30);
  /* font-size: xx-large; */
  font-size: 400%;
}

/* .testheader :hover {
  transform: scale(3.05);
} */

.tagline {
  font-family: 'ProximaNova';
  color: rgb(29, 23, 23);
  text-shadow: 0px 0px 60px 0px rgba(0,0,0,0.30);
  font-size: 180%;
  letter-spacing: 5px;
}

.navButton {
  background-color: rgb(140 50 159);
  /* width: 80px; */
  border-width: 0.1px;
  box-shadow: 0px 0px 30px 0px rgb(0 0 0 / 10%);
  border-radius: 5px;
  font-size: 18px;
  padding: 5px 10px;
  color: white;
  font-weight: bolder;
}

/* nav {
  display: flex;
} */

/* ###### ABOUT PAGE **********/
.about-me-section {
  background-color: teal;
  color: white;
  margin-top: 5em;
  padding: 3em;
}
.aboutInfo {
    height: 33rem;
    width: 100%;
    outline: white 2px solid;
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, 0.282);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 6rem; 
    font-style: "ProximaNova"
}

.firstAboutText {
  font-family: 'ProximaNova';
  color: rgb(29, 23, 23);
  font-size: 150%;
}
.aboutText {
  font-family: 'ProximaNova';
    color: rgb(29, 23, 23);
    font-size: 102%;
    font-display: auto;
    inline-size: 600px;
    overflow: visible;
}


.cardImage {
  max-width: 20%;
  max-height: 20%;

}

/* ######### User Page #########

.delete-button {
  /* margin-left: 12rem;*/

.delete-button {
  margin-top: 2rem;
  outline: none;
  border: none;
  background-color: transparent;
  color: white;
  cursor: pointer;
  font-family: "Bungee", cursive;
  font-size: 2rem;
}

.savedMeal {
  position: relative;
  text-align: center;
  width: 270px;
  /* max-width: 260px; */
  height: 270px;

  /* background-color: rgb(190, 144, 144); */
  
  /* box-shadow: 0px 0px 40px 0px rgb(211 195 169 / 30%); */
  border-radius: 15px;
  background-size: cover;
  background-position: center;
  position: center;
  display: flex;
  padding: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: #fff;
  text-shadow: 2px 2px 6px #202020;

  font-weight: bold;
}

.savedMeal h3 {
  position: absolute;
  bottom: 10px;
  /* left: 25%; */
}

.savedMeal div {
  position: absolute;
  top: 40px;
  padding: 25px;
  /* left: 25%; */

  /* width: 80vw;
  max-width: 260px;
  height: 270px; */
}

.savedMeal img   {
  width: 270px;
  /* max-width: 260px; */
  height: 270px;
  object-fit: cover;
  border-radius: 30px;
  box-shadow: 0px 0px 40px 10px rgb(211 195 169);
}
.signupform {
  padding-top: 25px;
}

.submitbutton {
  color: #000;
  margin-top: 100px;
  background-color: #9198e5;
  font-size: 1.0rem;
  margin: 1rem;
  padding: 0.5rem 1.0rem;
  border: 2px solid #9198e5;
  border-radius: 10px
}
